main{

    .section-principal{

        h1{
            color: white;
            font-size: 2.5rem;
            margin-top: 25px;
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            span{
                color: yellow;
            }
        }

       
    }
}